@import "mixins/layout";

/* ==========================================================================
   Layout
   ========================================================================== */

@mixin layout-main .about-page, .container;

/* ==========================================================================
   Icons
   ========================================================================== */

.icon {
    margin-right: 10px;
}

.icon:hover {
    fill: var(--color-amaranth);
}

.icon-name {
    vertical-align: middle;
}
