@import "variables";

/* ==========================================================================
   Layout
   ========================================================================== */

.header {
    height: var(--layout-header-height);
    z-index: 5;
    padding: 10px var(--layout-edge-spacing-x);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
}

/* ==========================================================================
   Logo
   ========================================================================== */

.logo {
    width: 35px;
    height: 24px;
}
