@import "variables";

.svg {
    width: 24px;
    height: 24px; /* Must have an height otherwise it will have an extra space on IE11 */
    display: inline-block;
    vertical-align: middle;
    user-select: none;
    transition: fill 0.2s, fill-opacity 0.2s;
    fill: var(--color-violet);
}

.svg svg {
    width: inherit;
    height: inherit;
    display: block;  /* Remove little margin between the svg and its parent */
}
