/* ==========================================================================
   Utility mixin to clear children floats
   ========================================================================== */

@define-mixin clearfix $selector {
    $selector::after {
        content: "";
        display: table;
        clear: both;
    }
}
