@import "./shared/styles";

/* ==========================================================================
   Make the <main> content ocupy the remaining space between the header and footer
   ========================================================================== */

.app {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.header {
    flex: 0 0 auto;
}

.footer {
    flex: 0 0 auto;
}
